html {
    font-size: 6em;
    text-align: center;
}

.count {
    color: #888;
    margin: 0;
    font-weight: bold;
}

.wrap {
    background-color: #666;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    padding:80px 40px;
}

.typed {
    color: lightgreen;
}

.mistyped {
    background-color: red;
}